<a href="https://colab.research.google.com/github/ANUMULADRUVAKUMAR/2216194_AIML_Bootcamp_2023/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
#strings
str1="hello I'm  from SR university"
str2="hello \tI'm from SR university and im {age} yrs old".format(age=19)
str3="                     druva        "
t=("sr","university")
print("captalize=",str1.capitalize())
print("casefold=",str1.casefold())
print("center=",str1.center(40,"*"))
print("count=",str1.count("l"))
print("endswith=",str1.endswith("y"))
print("expandtabs=",str2.expandtabs(10))
print("find=",str1.find("SR"))
print("fomat=",str2)
print("isupper=",str1.isupper())
print("istitle=",str1.istitle())
print("isspace=",str1.isspace())
print("isprintable=",str1.isprintable())
print("isnumeric=",str1.isnumeric())
print("islower=",str1.islower())
print("isdigit=",str1.isdigit())
print("index=",str1.index("S"))
print("join="," ".join(t))
print("ljust=",str1.ljust(35,"*"))
print("lower=",str1.lower())
print("lstrip=",str3.lstrip())
mytable=str1.maketrans("SR","DN")
print("maketrans  translate=",str1.translate(mytable))
print("partition=",str1.partition("SR"))
print("replace=",str1.replace("SR","DN"))
print("rfind=",str1.rfind("SR"))
print("rindex=",str1.rindex("S"))
print("rjust=",str1.rjust(10))
print("split=",str1.split())
print("splitlines=",str1.splitlines())
print("startswith=",str1.startswith("gd mrng"))
print("strip=",str3.strip())
print("swapcase",str1.swapcase())
print("title=",str1.title())
print("upper=",str1.upper())

captalize= Hello i'm  from sr university
casefold= hello i'm  from sr university
center= *****hello I'm  from SR university******
count= 2
endswith= True
expandtabs= hello     I'm from SR university and im 19 yrs old
find= 16
fomat= hello 	I'm from SR university and im 19 yrs old
isupper= False
istitle= False
isspace= False
isprintable= True
isnumeric= False
islower= False
isdigit= False
index= 16
join= sr university
ljust= hello I'm  from SR university******
lower= hello i'm  from sr university
lstrip= druva
maketrans  translate= hello I'm  from DN university
partition= ("hello I'm  from ", 'SR', ' university')
replace= hello I'm  from DN university
rfind= 16
rindex= 16
rjust= hello I'm  from SR university
split= ['hello', "I'm", 'from', 'SR', 'university']
splitlines= ["hello I'm  from SR university"]
startswith= False
strip= druva
swapcase HELLO i'M  FROM sr UNIVERSITY
title= Hello I'M  From Sr University
upper= HELLO I'M  FROM SR UNIVERSITY

In [83]:
#Lists
list1=["apple","banana",1,2.5]
list1.append("cherry")
print("append=",list1)
y=list1.copy()
print("copy=",y)
print("count=",list1.count(1))
list2=["honda","swift","benz"]
list1.extend(list2)
print("extend=",list1)
print("index=",list1.index(2.5))
list1.insert(3,100)
print("insert=",list1)
list1.pop(3)
print("pop=",list1)
list1.remove("cherry")
print("remove=",list1)
list1.reverse()
print("reverse=",list1)
list1.clear()
print("clear=",list1)

append= ['apple', 'banana', 1, 2.5, 'cherry']
copy= ['apple', 'banana', 1, 2.5, 'cherry']
count= 1
extend= ['apple', 'banana', 1, 2.5, 'cherry', 'honda', 'swift', 'benz']
index= 3
insert= ['apple', 'banana', 1, 100, 2.5, 'cherry', 'honda', 'swift', 'benz']
pop= ['apple', 'banana', 1, 2.5, 'cherry', 'honda', 'swift', 'benz']
remove= ['apple', 'banana', 1, 2.5, 'honda', 'swift', 'benz']
reverse= ['benz', 'swift', 'honda', 2.5, 1, 'banana', 'apple']
clear= []

In [101]:
#Dictionaries
dict1={"name":"ddddd","age":19,"year":2003}
x=dict1.copy()
print("copy=",x)
print("get=",dict1.get("name"))
print("items",dict1.items())
print("keys=",dict1.keys())
dict1.pop("year")
print("pop=",dict1)
dict1.popitem()
print("popitem=",dict1)
dict1.setdefault("name","ddd")
print("setdefault=",dict1)
dict1.update({"age":19})
print("upate=",dict1)
print("values=",dict1.values())
dict1.clear()
print("clear=",dict1)

copy= {'name': 'ddddd', 'age': 19, 'year': 2003}
get= ddddd
items dict_items([('name', 'ddddd'), ('age', 19), ('year', 2003)])
keys= dict_keys(['name', 'age', 'year'])
pop= {'name': 'ddddd', 'age': 19}
popitem= {'name': 'ddddd'}
setdefault= {'name': 'ddddd'}
upate= {'name': 'ddddd', 'age': 19}
values= dict_values(['ddddd', 19])
clear= {}

In [103]:
#Tuples
t=(1,"druva",2,3,4,5,6,2)
print("count=",t.count(2))
print("index=",t.index("druva"))

count= 2
index= 1

In [104]:
#sets
s={1,2,3,4}
s1={1,3,5,"hi"}

l=[1,7,8,9]
print(l)
sets=set(l)
print(sets)

s.update({5,6})
print(s)

s1.discard("hi")
print(s1)

s1.remove(3)
print(s1)

#set opertaions
a={1,2,3,4}
b={4,5,6,7}

#union
print(a|b)
print(a.union(b))
print(b.union(a))

#inetersection
print(a&b)
print(a.intersection(b))
print(b.intersection(a))

#difference
print(a-b)
print(b-a)
print(a.difference(b))
print(b.difference(a))

[1, 7, 8, 9]
{8, 1, 9, 7}
{1, 2, 3, 4, 5, 6}
{1, 3, 5}
{1, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4}
{4}
{4}
{1, 2, 3}
{5, 6, 7}
{1, 2, 3}
{5, 6, 7}

In [108]:
#NUmber conversions
a=5
print("binary=",bin(a),"octal=",oct(a),"hextadecimal=",hex(a))

binary= 0b101 octal= 0o5 hextadecimal= 0x5

In [114]:
#arithemetic
a = 10
b = 10
print ("a + b : ", a + b)
print ("a - b : ", a - b)
print ("a * b : ", a * b)
print ("a / b : ", a / b)
print ("a % b : ", a % b)
print ("a ** b : ", a ** b)
print ("a // b : ", a // b)

#comparison
a = 4
b = 5
print ("a == b : ", a == b)
print ("a != b : ", a != b)
print ("a > b : ", a > b)
print ("a < b : ", a < b)
print ("a >= b : ", a >= b)
print ("a <= b : ", a <= b)

#Assignment
a = 10
a += 5
print ("a += 5 : ", a)
a -= 5
print ("a -= 5 : ", a)
a *= 5
print ("a *= 5 : ", a)
a /= 5
print ("a /= 5 : ",a)
a %= 3
print ("a %= 3 : ", a)
a **= 2
print ("a **= 2 : ", a)
a //= 3
print ("a //= 3 : ", a)

#Bitwise
a = 60            
b = 13     
c = a & b    
print ("a & b : ", c)
c = a | b       
print ("a | b : ", c)
c = a ^ b        
print ("a ^ b : ", c)
c = ~a;          
print ("~a : ", c)
c = a << 2;    
print ("a << 2 : ", c)
c = a >> 2;      
print ("a >> 2 : ", c)

#Logical 
x=True
y=False
print('x and y is:',x and y)
print('x or y is:',x or y)
print('x not y is:',not y)

#identity operator
x1=5
y1=5
x2='hello'
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is  y2)
print(x3 is y3)

#membership
my_list = [2, 4, 6, 8, 10, 12]
print(6 in my_list)
print(5 in my_list)

a + b :  20
a - b :  0
a * b :  100
a / b :  1.0
a % b :  0
a ** b :  10000000000
a // b :  1
a == b :  False
a != b :  True
a > b :  False
a < b :  True
a >= b :  False
a <= b :  True
a += 5 :  15
a -= 5 :  10
a *= 5 :  50
a /= 5 :  10.0
a %= 3 :  1.0
a **= 2 :  1.0
a //= 3 :  0.0
a & b :  12
a | b :  61
a ^ b :  49
~a :  -61
a << 2 :  240
a >> 2 :  15
x and y is: False
x or y is: True
x not y is: True
False
True
False
True
False

In [116]:
# applying silcing
list1=["apple","banana",1,2.5]
print("list1=",list1)
print(list1[1::])
print(list1[1:2])
print(list1[::2])
print(list1[::-2])
print(list1[-1:-3])
list2=["honda","swift","benz"]
list3=(list1,list2)
print(list3)
print(list3[0][1][3])
print(list3[1][2])
print(list3[0][0][::2])
print(list3[1][0][::2])

list1= ['apple', 'banana', 1, 2.5]
['banana', 1, 2.5]
['banana']
['apple', 1]
[2.5, 'banana']
[]
(['apple', 'banana', 1, 2.5], ['honda', 'swift', 'benz'])
a
benz
ape
hna

In [117]:
print('A series of character designated as one object known as a string'[::-1][4::3])
print('----------')
print('Welcome to python traing program'[3:10][::-1])

taawkcbe  tgerca  is
----------
ot emoc

In [118]:
P_phrase="was it a car or a cat I saw"
print(P_phrase[::-1].upper())

WAS I TAC A RO RAC A TI SAW

In [119]:
x=int(input())
y=2*x
print('Z'*x+'O'*y)

2
ZZOOOO